
@*Nhận diện các file trong thư mục Models*@
@using viettel_store.Models
@using X.PagedList.Mvc.Core
@*Khai bác kiểu dữ liệu của Model*@
@model X.PagedList.IPagedList<ItemProduct>

@{
    // import file Layout.cshtml vào đây
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@functions{
    public MyDbContext db = new MyDbContext();
    // Hàm liệt kê các danh mục sản phẩm
    public List<ItemCategory> GetCategories(int _ProductId)
    {
        // sử dụng linq để join 3 bảng Categories, CategoriesProducts, Product để lấy kết quả
        var result = from item_category in db.Categories
                     join item_category_product in db.CategoriesProducts on item_category.Id equals item_category_product.CategoryId
                     join item_product in db.Products on item_category_product.ProductId equals item_product.Id
                     where item_product.Id == _ProductId
                     select item_category;
        return result.ToList();
    }

    public List<ItemTag> GetTags(int _ProductId)
    {
        // sử dụng linq để join 3 bảng Tags, TagsProducts, Product để lấy kết quả
        var result = from item_tag in db.Tags
                     join item_tag_product in db.TagsProducts on item_tag.Id equals item_tag_product.TagId
                     join item_product in db.Products on item_tag_product.ProductId equals item_product.Id
                     where item_product.Id == _ProductId
                     select item_tag;
        return result.ToList();
    }

}

<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Products/Create" class="btn btn-primary">
            <i class="bi bi-person-fill-add"></i> Create
        </a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h1>List Product</h1></div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:100px; height:auto;">Photo</th>
                    <th>Name</th>
                    <th style="width:200px;">Categories</th>
                    <th style="width:200px;">Tag</th>
                    <th style="width:70px; text-align:center;">Hot</th>
                    <th style="width:120px; text-align: center;">Action</th>
                </tr>
                @foreach (var row in Model)
                {
                    <tr>
                        <td>
                            @*File.Exists(duongdan) trả về true nếu đường dẫn tồn tại, người lại sẽ trả về false*@
                            @if (!String.IsNullOrEmpty(row.Photo))
                            {
                                <img src="~/Upload/Products/@row.Photo" style="width:100px; height: auto;" />
                            }
                        </td>
                        <td>@row.Name</td>
                        <td>
                            @{
                                var list_categories = GetCategories(row.Id);
                            }
                            @foreach(var item_category in list_categories)
                            {
                                <div>@item_category.Name</div>
                            }
                        </td>
                        <td>
                            @{
                                var list_tags = GetTags(row.Id);
                            }
                            @foreach(var item_tag in list_tags)
                            {
                                <div>@item_tag.Name</div>
                            }
                        </td>
                        <td style="text-align:center">
                            @if(row.Hot == 1)
                            {
                                <span class="fa fa-check"></span>
                            }
                        </td>
                        <td style="text-align:center;">
                            <a href="/Admin/Products/Update/@row.Id"><i class="bi bi-tools" style="padding: 5px;"></i></a>&nbsp;
                            <a href="/Admin/Products/Delete/@row.Id" onclick="return window.confirm('Are you sure?');"><i class="bi bi-trash" style="padding: 5px;"></i></a>
                        </td>
                    </tr>
                }

            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 15px 0;
                }
            </style>
            @*Phân trang*@
            @Html.PagedListPager(Model, page => Url.Action("Read", new { page = page, a = 1, b = 2 }) )
        </div>
    </div>
</div>